#barangayPage{

    // usefull class //

    &.horizontal-center{
        margin-top: 30vh;
    }
    .overlay{
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }
   
    .hilongosMap{
        &.hilongosMap img{
            width: 100%;
        }
    }
    .mapDescripption{
        &.mapDescripption img{
            width: 70%;
        }
        .sanRoque h2{
            font-weight: bold;
            color: cadetblue;
        }
        .sanRoque p{
            text-align: justify;
            text-indent: 50px;
        }
    }
    hr{
        border: 1px solid black;
    }
    .generalInformation {
        &.generalInformation h1{
            font-weight: bold;
            color: mediumseagreen;

            & span{
                color: cadetblue;
            }
        }
        .container {
            &.container img{
                width: 80%;
            }
            &.container h4{
                font-weight: bold;
            }
        }
    }
    .collapse-section{
        background-image: url('../images/carabao.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;

        &.collapse-section {
           .col-12{
               padding: 3%;
           }
        }
        
        .padding{
            padding-left: 3%;
            padding-right: 3%;
        }
        & h2{
            color: white;
            text-shadow: 2px 2px 4px black;
            font-weight: bold;
        }
        & img{
            width: 100%;
            height: 400px;
        }
        .col-12{
            padding: 0px;
        }
        .autoplay{
            h3{
                color: yellow;
                font-weight: bold;
            }
            
            p{
                color: white;
            }
        }
    }
    .collapse-section1{
        background-image: url('../images/officials-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 220vh;   
        .tag-name{
            h1{
                font-weight: bold;
                color: gold;
                text-shadow: 2px 2px 4px black;
                margin-top: 50px;

                & span{
                    color: white;
                }
            }
            h3{
                color: yellow;
                text-shadow: 2px 2px 4px black;
            }
            img{
                width: 140px;
                border-radius: 100%;
                border: 5px solid white;
            }
            h2{
                font-weight: bold;
                color: white;
                text-shadow: 2px 2px 4px black;
                margin-top: 50px;
            }
            hr{
                border: 1px solid lightgray;
            }
        }
        .container{
            .padding-0{
               padding: 0px;

                p{
                    color: lightgray;
                    font-size: 1.8em;
                    line-height: 20px;
                    font-weight: normal;
                }
           }
        }
    } 
    .collapse-section2{
        height: 100vh;
        width: 100%;
        background-image: url('../images/camera.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .container{
            h1{
                color: white;

                & span {
                    color: gold;
                }
            }
            .margin{
                margin-top: 100px;
            }
            p{
                color: white;
            }
            .indent{
                text-indent: 100px;
                text-align: justify;
            }
        }
        
    }
    .tourist-spot{
        h2{
            font-weight: bold;
            color: mediumseagreen;
                & span{
                    color: cadetblue;
                }
        }
        img{
            width: 100%;
            height: 80vh;
        }
        .slider-nav{
            img{
                height: 30vh;
            }
        }
        .slick-prev:before, .slick-next:before {
            color: gray;
        }
    }
}

@media screen and (max-width: 414px) {
   .slider-nav{
      img{
         position: absolute;
         visibility: hidden;
          height: 0vh;
      }
   }
   .slider-for{
       img{
           width: 100%;
       }
   }
    .slick-next {
        /* right: -25px; */
        right: 0px;
        margin-top: -40vh;
    }
    .slick-prev {
        /* right: -25px; */
        left: 0px;
        margin-top: -40vh;
    }
}