#barangayPage{
    
    #mapSection{
        position: relative;
        .search-box-container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            #_dropdown{
                background-color: rgba(255,255,255,0.7);
                width: 100%;
                margin-top: 5px;
                .angucomplete-title{
                    font-size: 20px;
                    .highlight{
                        color: red;
                        font-weight: bold;
                    }
                }

            }     
            .input-form{
                position: relative;
                &.icon-right{
                    i{
                        position: absolute;
                        right: 23px;
                        top: 16px;
                        font-size: 2em;
                        color: #999999;
                        opacity: 0.7;
                    }
                }
                input{
                    padding-right: 60px;
                }
            }    
        }
        .barangay-map{
            width: 100%;
            height: auto;
        }
        .search-box{
            padding: 30px;
            font-size: 2em;
            background-color: rgba(255,255,255,0.3);
            border: 0;
            border-bottom: 2px solid red;
            border-radius: 0;
            box-shadow: none;
        }
        
    }


    &.horizontal-center{
        margin-top: 30vh;
    }
    .overlay{
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
    }
   
    .hilongosMap{
        &.hilongosMap img{
            width: 100%;
        }
    }
    .mapDescripption{
        &.mapDescripption img{
            width: 70%;
        }
        .sanRoque h2{
            font-weight: bold;
            color: cadetblue;
        }
        .sanRoque p{
            text-align: justify;
            text-indent: 50px;
        }
    }
    hr{
        border: 1px solid black;
    }
    .generalInformation {
        &.generalInformation h1{
            font-weight: bold;
            color: mediumseagreen;

            & span{
                color: cadetblue;
            }
        }
        .container {
            &.container img{
                width: 80%;
            }
            &.container h4{
                font-weight: bold;
            }
        }
    }
    .collapse-section{
        height: 100vh;
        .background{
            background-image: url('../images/carabao.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;

            &.collapse-section {
            .col-12{
                padding: 3%;
            }
            }
            
            .padding{
                padding-left: 3%;
                padding-right: 3%;
            }
            & h2{
                color: white;
                text-shadow: 2px 2px 4px black;
                font-weight: bold;
            }
            & img{
                width: 100%;
                height: 400px;
            }
            .col-12{
                padding: 0px;
            }
            .autoplay{
                h3{
                    color: yellow;
                    font-weight: bold;
                }
                
                p{
                    color: white;
                }
            }
            .slick-prev {
                left: 10px;
                z-index: 10;
            }
            .slick-next {
                right: 10px;
                z-index: 10;
            }
        }
    }
    .collapse-section1{
        background-image: url('../images/ofiicials-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        .tag-name{
            h1{
                font-weight: bold;
                color: gold;
                text-shadow: 2px 2px 4px black;
                margin-top: 50px;

                & span{
                    color: white;
                }
            }
            h3{
                color: yellow;
                text-shadow: 2px 2px 4px black;
            }
            img{
                width: 140px;
                border-radius: 100%;
                border: 5px solid white;
            }
            h2{
                font-weight: bold;
                color: white;
                text-shadow: 2px 2px 4px black;
                margin-top: 50px;
            }
            hr{
                border: 1px solid lightgray;
            }
        }
        .container{
            .padding-0{
               padding: 0px;

                p{
                    color: lightgray;
                    font-size: 1.8em;
                    line-height: 20px;
                    font-weight: normal;
                }
           }
        }
    } 
    .collapse-section2{
        width: 100%;
        background-image: url('../images/camera.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .container{
            h1{
                color: white;

                & span {
                    color: gold;
                }
            }
            .margin{
                margin-top: 100px;
            }
            p{
                color: white;
            }
            .indent{
                text-indent: 100px;
                text-align: justify;
            }
        
        }
        .overlay1{
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        }
        .margin-bottom{
            margin-bottom: 100px;
        }
    }
    .arrow-up{
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        margin-left: 45%;
        border-bottom: 20px solid black;
        margin-top: -20px;
    }
    .tourist-spot{
        h2{
            font-weight: bold;
            color: mediumseagreen;
                & span{
                    color: cadetblue;
                }
        }
        img{
            width: 100%;
            height: 80vh;
        }
        .slider-nav{
            img{
                height: 30vh;
            }
        }
        .slick-prev:before, .slick-next:before {
            color: gray;
        }
        .slick-next {
            right: 5px;
        }
        .slick-prev {
            left: 5px;
            z-index: 1;
        }
    }
}
.for-mobile{
    display: none;
}
@media screen and (max-width: 414px) {
    .slider-nav{
       img{
          position: absolute;
          visibility: hidden;
           height: 0vh;
       }
    }
    .slider-for{
        img{
            width: 100%;
        }
    }
     .for-non-mobile{
         display: none;
     }
     .for-mobile{
        display: block;
    }
 }