html{
    height: 100%;
}
body{
    background-color:#eee;
    color:#000;
}
#mobileview{
    & .overlay{
        display: none;
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .3;
        z-index: 1100;
    }
    & .showmobile{
        right: 0 !important;

        transition: all .3s ease-in-out, all .3s ease-in-out;
    }
    & #navmenu{
        position: fixed;
        top:0;
        right: -290px;
        width: 290px;
        height: 100%;
        background-color: #0ac0f7;
        z-index: 1110;
        padding:2% 4%;
        font-family: monseratReg;

        transition: all .3s ease-in-out, all .3s ease-in-out;
        & button{
            border:none;
            background-color: transparent;
            display: block;
            font-size: 1.7em;
            color:#eee;
        }
        & button:hover{
            color: #000;
        }
        & img{
            width: 80%;
            height: 70px;
            margin-bottom: 20px;
        }
        & .nav-item{
            padding:4px 8px;
            list-style-type: none;
            margin-bottom: 10px;
            & .nav-link{
                text-decoration: none;
                color:#000;
            }
        }
        & .nav-item:hover{
            background-color: #eee;
            outline:6px 10px;
        }
    }
}
.navbar{
    background-color: transparent;
    height: 80px;
    border:none;
    margin-top: 2%;
    & .container{
        & .navbar-header{
            & button{
                margin-top: 28px;
                border:none;
            }
            & button:hover{
                background-color: transparent;
                & .icon-bar{
                    background-color: #000;
                }
            }
            & .navbar-brand{
                & img{
                    height:60px;
                    width: 280px;
                }
            } 
        }
        & .collapse{
            margin-top: 17px !important;
            & .nav{
                & .nav-item{
                    & .nav-link{
                        font-size: 1.3em;
                        color:#fff;
                        font-family: monseratReg;
                    }
                }
            }
        }
    }
}
.scroll-change{
    background-color: #374354 !important;
    color:#000;
    margin-top: 0 !important;

    transition:  all .3s ease-in-out, all .3s ease-in-out;
    & .container{
        & .navbar-header{
            & button{
                & .icon-bar{
                    background-color: #000 !important;
                    color:#000 !important;
                }
            }
            & button:hover{
                background-color: transparent;
                & .icon-bar{
                    background-color: rgb(38, 158, 228) !important;
                }
            }
            & a{
                padding-top: 4%;
            }
        }
        & .collapse{
            & .nav{
                & .nav-item{
                    & .nav-link{
                        color:#eee;
                    }

                }
            }
        }
    }
}
#bannerimage{
    position: absolute;
    margin-bottom: 0 !important;
    height: 100vh;
    width: 100%;
    & .slick-dots{
        bottom:5px;
        z-index: 2;
        & li{
            border:2px solid #eee;
            border-radius: 99%;
            height: 12px;
            width: 12px;
            & button:before{
                font-size: 12px;
                color:transparent;
            }
        }
        & .slick-active{
            background-color:#eee;
        }
    }
    & .bannercontent{
        height: 100vh;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
#welcome{
    position: relative;
    height: 100vh;
    width: 100%;
    & .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: .3;
    }
    & .col-md-6{
        height: 100%;
        & #welcometext{
            width: 98%;
            position: absolute;
            bottom:38px;
            text-align: center;
            left: 0;
            & h2{
                text-align: center;
                color:#fff;
                line-height: 100px;
                font-size: 6em;
                font-family: Trojan Pro;
            }
            & h2:first-letter{
                font-family: Messenger;
                color:#fff200;
                font-size: 1.5em;
                padding-right: 2px;
            }
            & h2:last-child{
                position: relative;
                right:-20px;
            }
            & a{
                box-shadow: 0 2px 3px #000;
                border:none;
                padding: 5px 20px;
                font-family: Arial, Helvetica;
                font-weight: bold;
            }
            & #learn{
                background-color: #11bfa0;
            }
            & #intouch{
                background-color: #fff200;
                color:#000;
            }
        }
    }
}
#about{
    position: relative;
    height: 100%;
    padding:4% 0;
    & #bannerimage{
        position: absolute;
        top:0;
        left: 0;
        margin-bottom: 0 !important;
        height: 60vh;
        width: 100%;
        & .slick-dots{
            bottom:5px;
            width: 25%;
            right: 8px;
            z-index: 10;
            & li{
                border:2px solid #eee;
                border-radius: 99%;
                height: 12px;
                width: 12px;
                & button:before{
                    font-size: 12px;
                    color:transparent;
                }
            }
            & .slick-active{
                background-color:#eee;
            }
        }
        & .bannercontent{
            height:60vh;
            width: 100%;
        }
    }
    & .overlay{
        position: absolute;
        top:0;
        left: 0;
        background-color: #000;
        height: 60vh;
        width: 100%;
        z-index: 1;
        opacity: .5;
    }
    & .col-md-6{
        height: 100%;
        position: relative;
        z-index: 2;
        text-align: center;
        & h2{
            text-align: center;
            font-size: 2.8em;
            font-family: monseratReg;
            color:#fff;
            & span{
                color:#fff000;
            }
        }
        & p{
            text-align: justify;
            padding:20px 40px 0 40px;
            font-family: Century Gothic;
            color:#fff;
            font-size: 1.2em;
            & span{
                padding-left: 50px;
            }
        }
        & a{
            border:none;
            font-size: 1.2em;
            background-color: #19b197;
            font-family: Arial Rounded MT;
            font-weight: bold;
            border-radius: 30px;
            padding:3px 20px;
        }
    }
}
#serve{
    padding: 4% 0;
    height: 100%;
    width: 100%;
    & h2{
        padding-bottom: 2%;
        text-align: center;
        font-family: monseratSemi;
        & span{
            color:#11bfa0;
        }
    }
    & .row{
        max-width: 80% !important;
        margin:0 auto;
        & .col-md-3{
            margin-bottom: 40px;
            text-align: center;
            & h3{
                font-size:2em !important;
                font-family: Arial, Helvetica, sans-serif;
            }
            & img{
                border:2px solid #eee;
                border-radius: 100%;
                height: 150px;
                width: 150px;
            }
            
            & p{
                font-family: Century Gothic;
                font-size: 1.3em;
            }
            & a{
                border:none;
                font-size: 1.2em;
                background-color: #19b197;
                font-family: Arial Rounded MT;
                font-weight: bold;
                border-radius: 30px;
                padding:3px 20px;
                margin-bottom: 4%;
            }
        }
        & .col-md-3:hover{
            & img{
                border:2px solid #11bfa0;
                transition: all .5s ease-in-out,.5s ease-in-out;
                
            }
            & a{
                background-color: #fcc621;
                transition: all .5s ease-in-out,.5s ease-in-out;
            }
        }
    }
}
#view{
    background-image: url("../images/alikaraw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    position: relative;
    & .overlay{
        width: 100%;
        height: 90vh;
        background-color: #000;
        opacity: .6;
    }
    & #box1{
        margin: 0 auto;
        width: 80%;
        height: 50vh;
        border:2px solid #fff;
        background-color: transparent;
        position: absolute;
        top: 25%;
        left: 10%;
    }
    & #box2{
        margin: 0 auto;
        width: 70%;
        height: 60vh;
        border:2px solid #fff;
        background-color: transparent;
        position: absolute;
        top: 20%;
        left: 15%;
        & h2{
            text-align: center;
            padding-top: 10%;
            color:#f8bd00;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            & span{
                color:#fff;
                text-transform: capitalize;
            }
        }
        & p{
            width: 65%;
            margin: 0 auto;
            color:#fff;
            text-align: justify;
        }
    }
}
#tourist{
    #spot{
        width: 100%;
        height: 60vh;
        display: flex;
        & #image-left{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            & .imagecontent{
                flex-grow: 1;
            }
        }
        & #center-image{
            flex-grow: 2;
        }
        & #image-right{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            & .imagecontent{
                flex-grow: 1;
            }
        }
    }
    & #spot2{
        display: flex;
        width: 100%;
        height: 40vh;
        & .image-content{
            flex-grow: 1;
        }
    }
}
#map{
    position: relative;
    height: 80vh;
    width: 100%;
    & iframe{
        position: absolute;
        top:0;
        left: 0;
    }
    & .col-md-4{
        height: 100%;
        padding-top: 5%;
        & #touch{
            font-family: Century Gothic;
            border-radius: 10px;
            height: 360px;
            width: 290px;
            padding:2% 5%;
            max-width: 70%;
            background-color: #51cab2;
            & h2{
                font-weight: bold;
                text-align: center;
                font-size: 1.8em;
            }
            & form{
                height: 100%;
                width: 100%;
                & .form-group{
                    margin-bottom: 10px;
                }
                & input{
                    font-size: 0.7em !important;
                    height: 28px;
                }
                & p{
                    width: 100%;
                    text-align: right;
                    & a{
                        background-color: #dfd047;
                        color:#000;
                    }
                }
            }
            

        }
    }
}
footer{
    width: 100%;
    padding: 2% 0;
    background-color: #374354;
    height: 25%;
    color:#fff;
    & .container{
        & .row{
            & .col-xs-12{
                & img{
                    width: 80%;
                }
            }
            & .col-md-6{
                margin-bottom:2%;
                & a{
                    display: block;
                    color:inherit;
                }
            }
            & .col-md-3{
                & p{
                    & a{
                        & i{
                            color:#000;
                            font-size: 2em;
                            border-radius: 100%;
                            background-color: #fff;
                            padding:8px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:950px) {
    .navbar{
        & .container{
            & .navbar-header{
                & .navbar-brand{
                    & img{
                        height:50px;
                        width: 200px;
                    }
                } 
            }
            & .collapse{
                & .nav{
                    & .nav-item{
                        & .nav-link{
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
    }
    #bannerimage{
        & .bannercontent{
            background-size: cover;
        }
    }
    #welcome{
        & .col-md-6{
            & #welcometext{
                & h2{
                    line-height: 70px;
                    font-size: 4em;
                }
                & h2:first-letter{
                    font-size: 1.5em;
                    padding-right: 2px;
                }
                & h2:last-child{
                    right:-20px;
                }
            }
        }
    }
    #about{
        & .overlay{
            height: 100%;
        }
        & #bannerimage{
            height:278px;
            & .bannercontent{
                height:278px;
            }
        }
        & .col-md-6{
            & h2{
                font-size: 2em;
            }
            & p{
                font-size: 1em;
            }
            & a{
                font-size: 1em;
            }
        }
    }
}
@media (max-width:768px){
    .navbar{
        padding: 0 5%;
    }
}
@media (max-width:768px) And (min-width:450px){
    #map{
        height: 70vh;
        & .col-md-4{
            & #touch{
                margin: 0 auto;
            }
        }
    }
    footer{
        & .container{
            & .row{
                & .col-xs-12{
                    text-align: center;
                    & img{
                        width: 50%;
                    }
                }
            }
        }
    }
}
@media (max-width:650px){
    #tourist{
        #spot{
            width: 100%;
            height: 100%;
            display: block;
            & #image-left{
                width: 100%;
                display: block;
                height: 100vh;
                & .imagecontent{
                    width: 100%;
                    height: 50vh;
                }
            }
            & #center-image{
                width: 100%;
                height: 50vh;
            }
            & #image-right{
                display: block;
                height: 100vh;
                width: 100%;
                & .imagecontent{
                    height: 50vh;
                    width: 100%;
                }
            }
        }
        & #spot2{
            display: block;
            width: 100%;
            height: 100vh;
            & .image-content{
                width: 100%;
                height: 50vh;
            }
        }
    }
}
@media (max-width:768px){
    .navbar{
        & .container{
            max-width: 725px;
        }
    }
    footer{
        text-align: center;
    }
}
@media (max-width:450px){
    #about{
        & #bannerimage{
            & .slick-dots{
                width: 50%;
                bottom: 0;
            }
        }
        & .col-md-6{
            & p{
                padding:5px;
            }
        }
    }
    #view{
        & #box1{
            border:none;
        }
        & #box2{
            border:none;
            & h2{
                padding-top: 0;
            }
            & p{
                margin:0 auto;
                width: 90%;
            }
        }

    }
    #map{
        & .col-md-4{
            & #touch{
                margin: 0 auto;
                max-width: 90%;
            }  
        } 
    }
    .navbar{
        & .container{
            & .navbar-header{
                & .navbar-brand{
                    & img{
                        width: 110px;
                    }
                }
            }
        }
    }
}